name: Cypress Tests

on: 
push: 
workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    strategy:
          fail-fast: false
          matrix:
              browsers:[chrome, firefox, edge]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
            browsers: ${{matrix.gebrowsers}}
            command: npx cypress run -browser ${{matrix.browsers}} -- reporter mochawesome --reporter-options reportDir=cypress/reports/${{matrix.browsers}}
        
-name: Merge mochawesome Reports
run: npx Merge cypress/reports/${{matrix.browsers}}/*.json > cypress/reports/${{matrix.browsers}}/Merged-reports.json

-name: Generate HTML Reports
run: npx Merge cypress/reports/${{matrix.browsers}}/Merged-reports.json --reportDir cypress/reports/${{matrix.browsers}} -f "${{matrix.browsers}}"-report.HTML

-name: upload HTML Reports
uses: actions/upload-artifact@v4
with:
      name: cypress HTML Report ${{matrix.browsers}}
      path: cypress/reports/${{matrix.browsers}}